<div>
    <h2 id="page-heading" data-cy="VehiculoHeading">
        <span>Vehiculos</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-vehiculo" [routerLink]="['/vehiculo/new']">
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Vehiculo </span>
      </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <!--FILTROS-->
    <form class="form-filter " name="filterForm" role="form" novalidate (ngSubmit)="filter()" [formGroup]="filterForm">
        <div class="row">
            <!--Nombre-->
            <div class="form-group">
                <label class="form-control-label" for="filterMatricula">Matricula</label>
                <input type="text" class="form-control" id="filterMatricula" formControlName="filterMatricula" />
            </div>

            <!--Apellido-->
            <div class="form-group">
                <label class="form-control-label" for="filterEstado">Estado</label>
                <input type="text" class="form-control" id="filterEstado" formControlName="filterEstado" />
            </div>

            <!--Enviar-->
            <div class="form-group">
                <button type="submit" class="btn btn-dark">
            <span>FILTRAR</span>
        </button>
            </div>

        </div>


    </form>

    <div class="alert alert-warning" id="no-result" *ngIf="vehiculos?.length === 0">
        <span>No se han encontrado vehiculos</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vehiculos && vehiculos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">

                    <th scope="col" jhiSortBy="matricula"><span>Matricula</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="marca"><span>Marca</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="modelo"><span>Modelo</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="anyo"><span>Anyo</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehiculo of vehiculos; trackBy: trackId" data-cy="entityTable">

                    <td>{{ vehiculo.matricula }}</td>
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.anyo | formatMediumDate }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/vehiculo', vehiculo.id, 'facturas']" class="btn btn-secondary btn-sm" data-cy="entityEditButton">
                                <fa-icon icon="file"></fa-icon>
                                
                              </button>

                            <button type="submit" [routerLink]="['/vehiculo', vehiculo.id, 'registro']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="wrench"></fa-icon>
                
              </button>

                            <button type="submit" (click)="delete(vehiculo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                
              </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>