<div>
    <h2 id="page-heading" data-cy="FacturaHeading">
        <span>Facturas</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-factura" [routerLink]="['/factura/new']">
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Factura </span>
      </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <!--FILTROS-->
    <form class="form-filter " name="filterForm" role="form" novalidate (ngSubmit)="filter()" [formGroup]="filterForm">
        <div class="row">

            <!--Estado-->
            <div class="form-group">
                <label class="form-control-label" for="filterEstado">Estado</label>
                <input type="text" class="form-control" id="filterEstado" formControlName="filterEstado" />
            </div>

            <!--Enviar-->
            <div class="form-group">
                <button type="submit" class="btn btn-dark">
            <span>FILTRAR</span>
        </button>
            </div>

        </div>


    </form>

    <div class="alert alert-warning" id="no-result" *ngIf="facturas?.length === 0">
        <span>No facturas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="facturas && facturas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id"><span>ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="fecha"><span>Fecha</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="diagnostico"><span>Diagnostico</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="precio"><span>Precio</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="estado"><span>Estado</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="vehiculo.id"><span>Vehiculo</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let factura of facturas; trackBy: trackId" data-cy="entityTable">
                    <td>
                        <a [routerLink]="['/factura', factura.id, 'edit']">{{ factura.id }}</a>
                    </td>
                    <td>{{ factura.fecha | formatMediumDate }}</td>
                    <td>{{ factura.diagnostico }}</td>
                    <td>{{ factura.precio }}</td>
                    <td>{{ factura.estado }}</td>
                    <td>
                        <div *ngIf="factura.vehiculo">
                            <a [routerLink]="['/vehiculo', factura.vehiculo?.id, 'edit']">{{ factura.vehiculo?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">


                            <button type="submit" [routerLink]="['/factura', factura.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                
              </button>

                            <button type="submit" (click)="delete(factura)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                
              </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="facturas && facturas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>