<div>
    <h2 id="page-heading" data-cy="DashboardHeading">
        <span>Dashboards</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span>Refresh List</span>
          </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="vehiculos?.length === 0">
        <span>No hay vehiculos</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="vehiculos && vehiculos.length > 0">
        <h3>Vehiculos actuales</h3>
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span>ID</span></th>
                    <th scope="col"><span>Matricula</span></th>
                    <th scope="col"><span>Marca</span></th>
                    <th scope="col"><span>Modelo</span></th>
                    <th scope="col"><span>Anyo</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehiculo of vehiculos; trackBy: trackId" data-cy="entityTable">
                    <td>
                        <a [routerLink]="['/vehiculos', vehiculo.id, 'edit']">{{ vehiculo.id }}</a>
                    </td>
                    <td>{{ vehiculo.matricula }}</td>
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.anyo | formatMediumDate }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/vehiculo', vehiculo.id, 'facturas']" class="btn btn-secondary btn-sm" data-cy="entityEditButton">
                            <fa-icon icon="file"></fa-icon>
                            
                          </button>
                        </div>
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/vehiculo', vehiculo.id, 'registro']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                            <fa-icon icon="wrench"></fa-icon>
                            
                          </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>