ion-app {
    display: flex;
    .header {
        display: flex;
        flex-direction: column;
        h1 {
            float: left;
        }
        ion-button {
            float: right;
            margin-top: 10px;
        }
    }
    .btn-actualizar {
        overflow: hidden;
        ion-button {
            float: right;
        }
    }
    ion-card {
        display: inline-flex;
        width: 100%;
        h3 {
            width: 40%;
            margin: auto;
            text-align: center;
            padding: auto;
        }
        img {
            width: 100px;
            height: 100px;
        }
        ion-button {
            margin: auto;
            text-align: center;
            padding: auto;
        }
    }
}