<div>
    <h2 id="page-heading" data-cy="RegistroHeading">
        <span>Registros de {{vehiculo?.matricula}}</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualizar</span>
      </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-registro" [routerLink]="['/vehiculo/' + vehiculo?.id + '/registro/new']">
        <fa-icon icon="plus"></fa-icon>
        <span> Nuevo Registro </span>
      </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="registros?.length === 0">
        <span>No registros found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="registros && registros.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" jhiSortBy="id"><span>ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="fecha"><span>Fecha</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="estadoActual"><span>Estado Actual</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="vehiculo.id"><span>Vehiculo</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registros; trackBy: trackId" data-cy="entityTable">
                    <td>
                        <a [routerLink]="['/registro', registro.id, 'edit']">{{ registro.id }}</a>
                    </td>
                    <td>{{ registro.fecha | formatMediumDate }}</td>
                    <td>{{ registro.estadoActual }}</td>
                    <td>
                        <div *ngIf="registro.vehiculo">
                            <a [routerLink]="['/vehiculo', registro.vehiculo?.id, 'edit']">{{ registro.vehiculo?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/registro', registro.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="wrench"></fa-icon>
               
              </button>

                            <button type="submit" (click)="delete(registro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
               
              </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" [routerLink]="['/vehiculo']" class="btn btn-primary ">
          <span>Volver</span>
          
      </button>
    </div>
</div>